@if (getLeaguesResponse | async; as leagueResponse) {
  @for (league of leagueResponse.leagues; track league.id) {
    @if (
      league.displayName !== null &&
      league.displayName !== '' &&
      league.leagueType !== 'None'
    ) {
      <div style="display: flex; flex-direction: row; min-height: 3rem">
        <img
          alt="{{ league.abbreviation }}"
          style="
            flex-shrink: 0;
            width: 3.5rem;
            align-self: center;
            margin-right: 2rem;
          "
          src="{{ league.logos[1] }}"
        />
        <a
          routerLink="/leagues/{{ league.leagueType }}/week"
          style="font-size: 1.5rem; align-self: center"
        >
          {{ league.displayName }}
        </a>
      </div>
    }
  }
} @else {
  <div class="loading"></div>
}
