header {
  height: 5rem;
  background-color: #2f0259;
  margin-bottom: 0.5rem;
  display: grid;
}

.header-logo-container {
  align-self: center;
  display: flex;
  margin-left: 0.5rem;
}

.header-logo-container img {
  width: 4rem;
}

.header-logo-container div {
  align-content: center;
  font-size: 1.5rem;
}
